:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url('image/login.png');
    background-size: cover;
    background-position: center;
}

.login-heading {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}

.btn-login {
    font-size: 1.0rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border: 3rem;
}

.signup {
    border: 0;
    border-radius: .8rem;
    box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.1);
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




